*.o
*.a
*.swp
*.swo
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.byte
*.native
*.opt
.omakedb
.omakedb.lock
*.omc
src/compiler/capnpc-ocaml
src/tests/test
src/tests/test.mli
src/tests/test.ml
src/tests/.capnp-repo
